<tui-island class="file-card tui-space_vertical-1 tui-space_horizontal-1" [size]="'s'">
  <div class="hide-icon-container" (click)="toggleHidden(fileEntry)" *ngIf="!isDragging">
    <div class="hide-icon" [ngClass]="{'active': fileEntry.hidden}">
      <tui-svg src="tuiIconEyeClosed"></tui-svg>
    </div>
  </div>
  <div mwlDraggable [dropData]="fileEntry" (dragStart)="isDragging = true" (dragEnd)="isDragging = false"
       [ngStyle]="{'background-image': 'url(/api/IndexedFiles/'+fileEntry.id+'/minimized/140)'}"
       style="height: 140px; width: 140px; background-size: cover; background-position: center">
  </div>
  <h3 class="tui-island__title title">{{fileEntry.fileName}}</h3>
</tui-island>
