.file-card {
  width: 140px;
  padding: 8px;
}

.hide-icon-container {
  position: relative;
  cursor: pointer;
}

.hide-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  color: dimgray;
  opacity: 0;
  transition: opacity 350ms;
}

.file-card:hover .hide-icon {
  opacity: 1;
}

.hide-icon.active {
  color: gold;
  opacity: 1;
}

.title {
  margin: 0;
}

.tui-island {
  border: 1px solid var(--tui-base-04);
}
