<div>
  Edit:
  <form [formGroup]="editForm">
    <div class="tui-row tui-row_sme">
      <div class="tui-col_6">
        <div class="tui-form__row">
          <tui-input
            tuiTextfieldExampleText="New Name"
            formControlName="name"
            tuiHintContent="Name of the grid"
          >
            New Name
          </tui-input>
          <tui-field-error
            formControlName="name"
          ></tui-field-error>
        </div>
      </div>
      <div class="tui-col_6">
        <div class="tui-form__row">
          <button
            tuiButton
            type="button"
            icon="tuiIconCheck"
            appearance="secondary"
            (click)="saveForm()"
          >
            Save Grid
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
