<div>
  <form [formGroup]="testForm">
    <tui-toggle
      formControlName="enableExplorer"
      size="l"
      [showIcons]="true"
    ></tui-toggle>
    Show File Explorer
  </form>
</div>
<div class="tui-space_top-2">
  <form [formGroup]="testForm">
    <tui-toggle
      formControlName="enableGridManager"
      size="l"
      [showIcons]="true"
    ></tui-toggle>
    Show Grid Manager
  </form>
</div>
