<div class="grid-entry">
  <div>
    <a [routerLink]="['grids',grid.id]" (click.stop)="_()">
      <tui-marker-icon class="tui-space_right-2" src="tuiIconArrowLeftLarge" mode="link"
                       title="Activate Grid"></tui-marker-icon>
    </a>
  </div>
  <div>
    <div>{{grid.name}}</div>
    <div>
      #Cols: <span *ngFor="let series of grid.series; let last = last">
                {{series.name}}<span *ngIf="!last">, </span></span>
    </div>
    <div>#Rows: <span *ngFor="let dp of grid.dataPoints; let last = last">
                {{dp.name}}<span *ngIf="!last">, </span></span>
    </div>
  </div>
</div>
