<div class="header" style="display: flex; justify-content: space-between">
  <div>
    <h1 class="tui-text_h3">Doc My Pictures</h1>
  </div>
  <div class="tui-space_right-5">
    <div class="tui-space_top-2">
      <app-sidebar-switcher #sidebarSwitcher></app-sidebar-switcher>
    </div>
  </div>
</div>
<section class="content" style="display: flex">
  <tui-scrollbar
    [ngClass]="{'file-explorer-expanded':sidebarSwitcher.anyOpened,'file-explorer-closed':!sidebarSwitcher.anyOpened}">
    <router-outlet></router-outlet>
    <ng-container *ngIf="noGridSelected">
      <div class="no-grid-selected">
        <img src="assets/placeholders/undraw_checking_boxes_2ibd.svg">
        <h2>Find a grid in the Grid Manager.</h2>
      </div>
    </ng-container>
  </tui-scrollbar>
  <div *ngIf="sidebarSwitcher.explorerOpened">
    <app-file-explorer></app-file-explorer>
  </div>
  <div *ngIf="sidebarSwitcher.gridManagerOpened">
    <app-grid-manager></app-grid-manager>
  </div>
</section>
