@import '~@taiga-ui/core/styles/taiga-ui-local';

.header {
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 20px;
  .shadow(1);
  z-index: 1001;
  background: white;
}

.content {
  margin-top: 75px;
}

.file-explorer-expanded {
  width: 70vw;
}

.file-explorer-closed {
  width: 100%;
}

.no-grid-selected{
  margin-top: 10em;
  text-align: center;
}

.no-grid-selected > img {
  width: 25vw;
}

.no-grid-selected > h2 {
  margin-top: 3em;
}
