@import '~@taiga-ui/core/styles/taiga-ui-local';

.file-explorer {
  background-color: white;
  width: 30vw;
  .shadow(4);
  position: fixed;
  top: 75px;
  right: 0;
  overflow-y: scroll;
  height: calc(~"100vh - 75px");
}
.file-explorer > h1 {
  padding-left: 10px;
}
