<div class="file-explorer">

  <h1>File Explorer</h1>

  <app-file-explorer-folder-view *ngIf="currentFolder == null"
                                 (folder)="setCurrentFolder($event)"></app-file-explorer-folder-view>

  <app-file-explorer-picture-view *ngIf="currentFolder != null" [folder]="currentFolder"
                                  (back)="setCurrentFolder(null)"></app-file-explorer-picture-view>
</div>
