.fav-star-container {
  position: relative;
  cursor: pointer;
}

.fav-star {
  position: absolute;
  top: 5px;
  left: 5px;
  color: dimgray;
  opacity: 0;
  transition: opacity 350ms;
}

.img-container:hover .fav-star {
  opacity: 1;
}

.fav-star.active {
  color: gold;
  opacity: 1;
}

.delete-dialog-header {
  display: flex;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}
