<div>
  <tui-hosted-dropdown
    tuiDropdownHover
    [content]="content"
    [(open)]="open"
  >
    <div class="img-container">
      <div class="fav-star-container" (click)="toggleFav(picture)">
        <div class="fav-star" [ngClass]="{'active': picture.isFavorite}">
          <tui-svg src="tuiIconStar"></tui-svg>
        </div>
      </div>
      <img [src]="'/api/IndexedFiles/'+picture.indexedFile.id+'/minimized/200'"
           style="max-width: 200px; max-height: 150px; padding: 0; margin: 0">
    </div>
    <ng-template #content>
      <tui-data-list>
        <button tuiOption (click)="toggleFav(picture)">
          <span><tui-svg src="tuiIconStar"></tui-svg> Toggle Fav</span>
        </button>
        <button tuiOption (click)="togglePictureType(picture)">
          <span><tui-svg
            src="tuiIconCode"></tui-svg> Mark as {{picture.pictureType === PictureType.Micro ? PictureType.Macro : PictureType.Micro}}</span>
        </button>
        <a tuiOption [href]="'/api/IndexedFiles/'+picture.indexedFileId+'/original'" target="_blank">
          <span><tui-svg src="tuiIconExpand"></tui-svg> Show fullsize</span>
        </a>
        <button tuiOption (click)="showDeleteDialog(deleteDialog, deleteDialogHeader)">
          <span><tui-svg src="tuiIconTrash"></tui-svg> Remove</span>
        </button>
      </tui-data-list>
    </ng-template>
  </tui-hosted-dropdown>
</div>

<ng-template #deleteDialog="polymorpheus" polymorpheus let-observer>
  <p>Do you really want to remove this image from the grid?</p>
  <button
    class="tui-space_right-3"
    tuiButton
    type="button"
    size="m"
    appearance="primary"
    tuiAutoFocus
    (click)="deletePicture(picture, observer);"
  >
    Delete
  </button>
  <button tuiButton type="button" size="m" appearance="secondary" (click)="observer.complete()">
    Cancel
  </button>
</ng-template>

<ng-template #deleteDialogHeader>
  <div class="delete-dialog-header">
    <img [src]="'/api/IndexedFiles/'+picture.indexedFile.id+'/minimized/500'"
         alt="Picture to remove from the grid"
         style="width: 100%; padding: 0; margin: 0">
  </div>
</ng-template>
