.folder-entry {
  display: flex;
  padding-left: 5px;
  padding-top: 5px;
  margin-top: 10px;
  cursor: pointer;
  align-items: center;
}

.folder-entry:hover {
  background-color: lightgray;
}

.badge {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: var(--tui-support-02);
}
