<form [formGroup]="filterForm">
  <div class="tui-row tui-row_sme">
    <div class="tui-col_12">
      <div class="tui-form__row tui-space_horizontal-1">
        <tui-input
          tuiTextfieldSize="s"
          tuiTextfieldExampleText="Foldername..."
          formControlName="name"
          tuiHintContent="Quickfilter for names of folders"
        >
          Name Quick Filter
        </tui-input>
        <tui-field-error
          formControlName="name"
        ></tui-field-error>
      </div>
    </div>
  </div>
  <div *ngFor="let folder of folders|async" class="folder-entry" tabindex="0" (click)="selectFolder(folder)"
       (keyup.enter)="selectFolder(folder)">
    <div>
      <tui-marker-icon class="tui-space_right-2" src="tuiIconArrowRightLarge" mode="link"
                       title="step into folder" size="s"></tui-marker-icon>
    </div>
    <div>
      <div class="tui-space_top-1">{{folder.directory}}</div>
      <tui-badge [value]="folder.countPictures+ ' pictures'"
                 size="s"
                 class="badge"
                 status="custom"
                 hoverable="false"
      ></tui-badge>
    </div>
  </div>

</form>
