<div class="grid-container" *ngIf="currentGrid|async as currentGrid">
  <div class="grid-header">
    <h1>{{currentGrid.name}}</h1>
    <div>
      <a
        title="Switch to edit mode"
        tuiIconButton
        type="button"
        [showLoader]="false"
        [routerLink]="['/grids',currentGrid.id]"
        [tuiFocusable]="false"
        appearance="secondary"
        size="m"
        icon="tuiIconDraft"
      ></a>
      <a
        title="Download assembled picture"
        tuiIconButton
        class="tui-space_left-2"
        type="button"
        [showLoader]="false"
        target="_blank"
        href="/api/Grids/{{currentGrid.id}}/final-picture"
        download="{{currentGrid.name}}_{{currentGrid.id}}"
        [tuiFocusable]="false"
        appearance="secondary"
        size="m"
        icon="tuiIconDownloadLarge"
      ></a>
    </div>
  </div>

  <hr>

  <table class="table">
    <tr>
      <td></td>
      <ng-container *ngFor="let series of currentGrid.series">
        <td *ngIf="series.microIsVisible || series.macroIsVisible" [colSpan]="series.microIsVisible && series.macroIsVisible ? 2 : 1">
          <h3 class="series-headline">{{series.name}}</h3>
        </td>
      </ng-container>
    </tr>
    <ng-container *ngFor="let dataPoint of currentGrid.dataPoints; let dataPointIndex = index">
      <tr *ngIf="dataPoint.isVisible">
        <td>
          <h3 class="datapoint-headline">{{dataPoint.name}}</h3>
        </td>
        <ng-container *ngFor="let seriesEntry of currentGrid.series">
          <td *ngIf="seriesEntry.macroIsVisible">
            <div class="grid-entry">
              <img alt="Macro" onerror="this.style.display='none'"
                   [src]="'/api/IndexedFiles/'+(getImgSrc(seriesEntry, dataPoint, pictureTypes.Macro)|async)+'/original'">
            </div>
          </td>
          <td *ngIf="seriesEntry.microIsVisible">
            <div class="grid-entry">
              <img alt="Micro" onerror="this.style.display='none'"
                   [src]="'/api/IndexedFiles/'+(getImgSrc(seriesEntry, dataPoint, pictureTypes.Micro)|async)+'/original'">
            </div>
          </td>
        </ng-container>
      </tr>
    </ng-container>
  </table>
</div>
