.grid-container {
  padding: 0 15px;
}

.grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  border-collapse: collapse;
}

.table td {
  margin: 0;
  padding: 0;
}

.series-headline {
  text-align: center;
}

.datapoint-headline {
  padding-right: 10px;
  text-wrap: none;
  white-space: nowrap;
}

.grid-entry {
  display: flex;
  padding: 0;
  width: 500px;
}

img {
  display: block;
  height: 100%;
  width: 100%;
}
