<div class="grid-manager">
  <h1>Grid Manager</h1>

  <ng-container *ngIf="!showCreateForm">
    <form [formGroup]="filterForm">
      <div class="tui-row tui-row_sme">
        <div class="tui-col_8">
          <div class="tui-form__row">
            <tui-input
              tuiTextfieldSize="s"
              tuiTextfieldExampleText="Ibu Test Comparison"
              formControlName="name"
              tuiHintContent="Quickfilter for names of grids"
            >
              Name Quick Filter
            </tui-input>
            <tui-field-error
              formControlName="name"
            ></tui-field-error>
          </div>
        </div>
        <div class="tui-col_4">
          <div class="tui-form__row">
            <button
              tuiButton
              size="s"
              type="button"
              icon="tuiIconPlus"
              appearance="secondary"
              (click)="createNewGrid()"
            >
              New Grid
            </button>
          </div>
        </div>
      </div>
    </form>
    <br>
    <hr/>
    <br>
    <ng-container *ngIf="gridsResponse|async as grids">
      <ng-container *ngIf="grids.rowCount > 0">
        <tui-pagination
          [length]="grids.pageCount"
          [index]="grids.currentPage-1"
          (indexChange)="goToPage($event+1)"
        ></tui-pagination>
        <tui-accordion class="container" [rounded]="false">
          <tui-accordion-item borders="top-bottom" [showArrow]="true"
                              *ngFor="let grid of grids.results; index as i">
            <app-grid-manager-list-entry [grid]="grid"></app-grid-manager-list-entry>
            <ng-template tuiAccordionItemContent>
              <app-grid-manager-edit-form [grid]="grid"
                                          (saved)="grids.results[i] = $event"></app-grid-manager-edit-form>
            </ng-template>
          </tui-accordion-item>
        </tui-accordion>
        <tui-pagination
          [length]="grids.pageCount"
          [index]="grids.currentPage-1"
          (indexChange)="goToPage($event+1)"
        ></tui-pagination>
      </ng-container>
      <ng-container *ngIf="grids.rowCount === 0">
        No Results...
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="showCreateForm">
    <form [formGroup]="createGridForm">
      <div class="tui-row tui-row_sme">
        <div class="tui-col_12">
          <div class="tui-form__row">
            <tui-input
              tuiTextfieldExampleText="Ibu Test Comparison"
              formControlName="name"
              tuiHintContent="Name of the new grid"
            >
              Grid Name
            </tui-input>
            <tui-field-error
              formControlName="name"
            ></tui-field-error>
          </div>
          <div class="tui-form__buttons">
            <button
              tuiButton
              class="tui-form__button"
              size="l"
              type="submit"
              (click)="saveNewGrid()"
            >
              Create
            </button>
            <button
              (click)="cancelGridCreation()"
              appearance="flat"
              class="tui-form__button"
              size="l"
              tuiButton
              type="button"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</div>
