<ng-container *ngIf="pictures.length === 0 && pictureType === PictureType.Macro">
  Macro
</ng-container>
<ng-container *ngIf="pictures.length === 0 && pictureType === PictureType.Micro">
  Micro
</ng-container>
<ng-container *ngIf="pictures.length">
  <app-grid-entry-picture-element *ngFor="let pic of pictures" [picture]="pic" (changed)="pictureChanged(pic)"></app-grid-entry-picture-element>
</ng-container>
