<div class="grid-container" *ngIf="currentGrid|async as currentGrid">
  <div class="grid-header">
    <h1>{{currentGrid.name}}</h1>
    <div>
      <a
        title="Switch to preview mode"
        tuiIconButton
        type="button"
        [showLoader]="false"
        [routerLink]="['/grids-final',currentGrid.id]"
        [tuiFocusable]="false"
        appearance="secondary"
        size="m"
        icon="tuiIconStructureLarge"
      ></a>
      <a
        title="Download assembled picture"
        tuiIconButton
        class="tui-space_left-2"
        type="button"
        [showLoader]="false"
        target="_blank"
        href="/api/Grids/{{currentGrid.id}}/final-picture"
        download="{{currentGrid.name}}_{{currentGrid.id}}"
        [tuiFocusable]="false"
        appearance="secondary"
        size="m"
        icon="tuiIconDownloadLarge"
      ></a>
    </div>
  </div>

  <hr>

  <table>
    <tr>
      <td></td>
      <td *ngFor="let series of currentGrid.series">
        <h3 class="series-headline">
          {{series.name}}
          <div style="display: flex; justify-content: space-around">
            <div *ngIf="series.macroIsVisible" tabindex="0" (click)="hideColumn(series.id, pictureTypes.Macro)"
                 class="headline-visibility-icon">
              <tui-svg class="icon"
                       src="tuiIconEyeOpen"
                       title="Macro column is visible"
              ></tui-svg>
            </div>
            <div *ngIf="!series.macroIsVisible" tabindex="0" (click)="showColumn(series.id, pictureTypes.Macro)"
                 class="headline-visibility-icon">
              <tui-svg class="icon"
                       src="tuiIconEyeClosed"
                       title="Macro column is hidden from final rendering"
              ></tui-svg>
            </div>
            <div *ngIf="series.microIsVisible" tabindex="0" (click)="hideColumn(series.id, pictureTypes.Micro)"
                 class="headline-visibility-icon">
              <tui-svg class="icon"
                       src="tuiIconEyeOpen"
                       title="Micro column is visible"
              ></tui-svg>
            </div>
            <div *ngIf="!series.microIsVisible" tabindex="0" (click)="showColumn(series.id, pictureTypes.Micro)"
                 class="headline-visibility-icon">
              <tui-svg class="icon"
                       src="tuiIconEyeClosed"
                       title="Micro column is hidden from final rendering"
              ></tui-svg>
            </div>
          </div>
        </h3>
      </td>
      <td [rowSpan]="currentGrid.dataPoints.length + 1" class="add-series-column" tabindex="0"
          (click)="addSeries(addSeriesDialog)">
        <tui-marker-icon
          class=""
          mode="white"
          size="xs"
          src="tuiIconPlusCircleLarge"
          title="Add Series"
        ></tui-marker-icon>
      </td>
    </tr>
    <tr *ngFor="let dataPoint of currentGrid.dataPoints; let dataPointIndex = index">
      <td class="datapoint-headline">
        <h3>{{dataPoint.name}}</h3>
        <p *ngIf="dataPoint.isVisible" tabindex="0" (click)="hideRow(dataPoint.id)"
           class="headline-visibility-icon">
          <tui-svg class="icon"
                   src="tuiIconEyeOpen"
                   title="Row is visible"
          ></tui-svg>
        </p>
        <p *ngIf="!dataPoint.isVisible" tabindex="0" (click)="showRow(dataPoint.id)"
           class="headline-visibility-icon">
          <tui-svg class="icon"
                   src="tuiIconEyeClosed"
                   title="Row is hidden from final rendering"
          ></tui-svg>
        </p>
      </td>
      <td *ngFor="let seriesEntry of currentGrid.series" class="grid-field">
        <div class="grid-entry">
          <div class="drop-field" mwlDroppable
               [ngClass]="{'drag-disabled':dragOverIsDuplicate}"
               (drop)="dropped($event,currentGrid,seriesEntry,dataPoint,pictureTypes.Macro)"
               (dragEnter)="checkForDuplicates($event,currentGrid,seriesEntry,dataPoint,pictureTypes.Macro)"
               dragOverClass="drag-over">
            <app-grid-entry-picture-list [gridEntries]="currentGrid.gridEntries"
                                         [dataPointId]="dataPoint.id"
                                         [seriesId]="seriesEntry.id"
                                         [pictureType]="pictureTypes.Macro"
                                         (changed)="pictureChanged()"></app-grid-entry-picture-list>
          </div>
          <div class="drop-field" mwlDroppable
               [ngClass]="{'drag-disabled':dragOverIsDuplicate}"
               (drop)="dropped($event, currentGrid, seriesEntry, dataPoint, pictureTypes.Micro)"
               (dragEnter)="checkForDuplicates($event,currentGrid,seriesEntry,dataPoint,pictureTypes.Micro)"
               dragOverClass="drag-over">
            <app-grid-entry-picture-list [gridEntries]="currentGrid.gridEntries"
                                         [dataPointId]="dataPoint.id"
                                         [seriesId]="seriesEntry.id"
                                         [pictureType]="pictureTypes.Micro"
                                         (changed)="pictureChanged()"></app-grid-entry-picture-list>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td [colSpan]="currentGrid.series.length + 1" class="add-datapoint-row" tabindex="0"
          (click)="addDataPoint(addDataPointDialog)">
        <tui-marker-icon
          class=""
          mode="white"
          size="xs"
          src="tuiIconPlusCircleLarge"
          title="Add Data Point"
        ></tui-marker-icon>
      </td>
      <td></td>
    </tr>
  </table>
</div>

<ng-template #addSeriesDialog="polymorpheus" polymorpheus let-observer>
  <form [formGroup]="addSeriesForm" class="tui-space_bottom-4" (ngSubmit)="saveNewSeries();observer.complete();">
    <div class="tui-row tui-row_sme">
      <div class="tui-col_8">
        <h3 class="tui-form__header tui-form__header_margin-top_none">
          Add new series
        </h3>
        <div class="tui-form__row">
          <tui-input
            tuiTextfieldExampleText="My Data Series"
            formControlName="name"
            tuiHintContent="Name of the new picture series"
            tuiAutoFocus
          >
            Name<span class="tui-required"></span>
          </tui-input>
          <tui-field-error
            formControlName="name"
          ></tui-field-error>
        </div>
      </div>
    </div>
    <button
      class="tui-space_right-3"
      tuiButton
      type="submit"
      size="m"
    >
      Add
    </button>
    <button tuiButton type="button" size="m" (click)="observer.complete()">
      Cancel
    </button>
  </form>
</ng-template>

<ng-template #addDataPointDialog="polymorpheus" polymorpheus let-observer>
  <form [formGroup]="addDataPointForm" class="tui-space_bottom-4" (ngSubmit)="saveNewDataPoint();observer.complete();">
    <div class="tui-row tui-row_sme">
      <div class="tui-col_8">
        <h3 class="tui-form__header tui-form__header_margin-top_none">
          Add new data point
        </h3>
        <div class="tui-form__row">
          <tui-input
            tuiTextfieldExampleText="My Data Point"
            formControlName="name"
            tuiHintContent="Name of the new picture data point"
            tuiAutoFocus
          >
            Name<span class="tui-required"></span>
          </tui-input>
          <tui-field-error
            formControlName="name"
          ></tui-field-error>
        </div>
      </div>
    </div>
    <button
      class="tui-space_right-3"
      tuiButton
      type="submit"
      size="m"
    >
      Add
    </button>
    <button tuiButton type="button" size="m" (click)="observer.complete()">
      Cancel
    </button>
  </form>
</ng-template>
