.grid-container {
  padding: 0 15px;
}

.grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.series-headline {
  text-align: center;
  margin-bottom: 0;
}

.datapoint-headline {
  text-align: center;
  padding-right: 7px;
  text-wrap: none;
  white-space: nowrap;
}

.headline-visibility-icon {
  color: var(--tui-text-03);
  cursor: pointer;
}

.grid-field {
  min-width: 200px;
  height: 150px;
}

.drop-field {
  text-align: center;
  border: 1px gray dotted;
  min-width: 200px;
  min-height: 150px;
}

.drop-field.drag-over {
  border: 1px gray dashed;
  background: lightgray;
}

.drop-field.drag-over.drag-disabled {
  border: 1px gray dotted;
  background: lightcoral;
}

.grid-entry {
  display: flex;
  padding: 3px;
  height: 100%;
}

.add-series-column {
  border: 1px white dotted;
}

.add-series-column:hover {
  cursor: pointer;
  border: 1px gray dashed;
}

.add-datapoint-row {
  text-align: center;
  border: 1px white dotted;
}

.add-datapoint-row:hover {
  cursor: pointer;
  border: 1px gray dashed;
}
