<div class="tui-container_fullwidth">
  <div class="tui-form__header" style="display: flex; align-items: center">
    <tui-marker-icon class="tui-space_right-3" src="tuiIconArrowLeftLarge" mode="link" title="go back to folder list"
                     size="xs" (click)="goBack()" (keyup.enter)="goBack()"></tui-marker-icon>
    <span>{{folder}}</span>
  </div>
  <form [formGroup]="filterForm">
    <div class="tui-form__row tui-form__row_multi-fields">
      <div class="tui-form__multi-field">
        <tui-input
          tuiTextfieldSize="s"
          tuiTextfieldExampleText="Foldername..."
          formControlName="name"
          tuiHintContent="Quickfilter for file names"
        >
          Filename Quick Filter
        </tui-input>
        <tui-field-error
          formControlName="name"
        ></tui-field-error>
      </div>
      <div class="tui-form__multi-field">
        <tui-select tuiTextfieldSize="s" formControlName="sort" [valueContent]="sortContent">
          Sort by
          <tui-data-list-wrapper *tuiDataList [items]="sorts" [itemContent]="sortContent"></tui-data-list-wrapper>
        </tui-select>

        <ng-template #sortContent let-item>
          <span>{{item.name}}</span>
        </ng-template>

      </div>
    </div>
    <div class="tui-form__row tui-form__row_multi-fields" formGroupName="usages">
      <div class="tui-form__multi-field">
        <div tuiGroup [collapsed]="false">
          <tui-select
            formControlName="comparator"
            [valueContent]="comparatorEntry"
            tuiTextfieldSize="s"
          >
            Filter for usages
            <tui-data-list-wrapper
              *tuiDataList
              [items]="usagesComparators"
              [itemContent]="comparatorEntry"
            ></tui-data-list-wrapper>
          </tui-select>
          <button tuiButton
                  type="button"
                  size="s"
                  appearance="secondary"
                  class="reset-usages-filter-button"
                  type="reset"
          >X
          </button>
        </div>
        <ng-template #comparatorEntry let-data>
          <div>
            {{data.frontend}}
          </div>
        </ng-template>
        <tui-field-error
          formControlName="comparator"
        ></tui-field-error>
      </div>
      <div class="tui-form__multi-field">
        <tui-input
          tuiTextfieldSize="s"
          formControlName="count"
        >
          Count usages
        </tui-input>
        <tui-field-error
          formControlName="count"
        ></tui-field-error>
      </div>
    </div>
    <div class="tui-form__row tui-form__row_multi-fields">
      <div class="tui-form__multi-field">
        <tui-toggle
          formControlName="showHidden"
          [showIcons]="true"
          size="m"
        ></tui-toggle>
        Show hidden files
      </div>
    </div>
  </form>
</div>

<hr class="tui-space_vertical-3">

<div style="display: flex; flex-wrap: wrap; justify-content:space-between; align-content: flex-start">
  <app-file-explorer-picture-entry *ngFor="let fileEntry of fileList|async" [fileEntry]="fileEntry"
                                   (hiddenToggled)="togglePictureHidden($event)"></app-file-explorer-picture-entry>
</div>
